.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }


h1, h2, h3{
  font-family: 'Lato', sans-serif;
}

dummydeclaration { padding-left: 4em; }
tab{

  padding-left: 15px;
}

.hr-size {
  border-width:4px
}


.avatars {
  border-radius: 50%;
  position: absolute;
  top: 45%;
}

.avatar {
  width:128px;
  margin: 3px;
  border:7px solid;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.avatar-first {
  width:140px; /* you can use % */
  height: auto;
  top: 35%;
  transform: translateY(-50%);
  border-color: gold;
  position: absolute;
  z-index: 13;
  left: 80px;
}

.avatar-second {
  width:100px; /* you can use % */
  height: auto;
  border-color: silver;
  position: absolute;
  /*top: 25%;*/
  /*transform: translateY(-50%);*/
  z-index: 2;
  left: 5px;
}

.avatar-third  {
  width:100px; /* you can use % */
  height: auto;
  border-color: #eea236;
  position: absolute;
  /*top: 25%;*/
  /*transform: translateY(-50%);*/
  z-index: 1;
  left: 195px;
}

.winner-title {
  position: absolute;
  top:400px;
  left: 150px;

}
.winner-subtitle  {
  position: absolute;
  top:450px;
  left: 105px;
}

.home-btn{
  position: absolute;
  top: 560px;
  left: 20px;
  width: 350px;
  display: inline-block;
  border:3px solid #555555;
  color: #0D0B01;
  padding: 10px 40px;

  font-family: 'Lato', sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin-bottom: 20px;
  font-size: 16px;
}



.btn-class{
  display: inline-block;
  border:3px solid #555555;
  color: #0D0B01;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 10px 40px;
  box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
  -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
  -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
  text-shadow: 0 1px 0 #FFFFFF;
  /*background-image: linear-gradient(to top, #FCE374, #FCDF5B);*/
  background-color: #FFFFFF;
}
.btn-class:hover, .btn-class:active{
  border:3px solid #1b6d85;
  color: #FFFFFF;
  box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
  -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
  -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
  background-color: #269abc;
}